body {
    font-size: 0.8em;
    font-family: sans-serif;
    background: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1em;
    padding: 0;
    margin: 0;
}

ul, li {
    padding: 2px;
    margin: 0;
    list-style-type: none;
}

#left_bar {
    float: left;
    margin-right: 10px;
}

#right_bar {
    float: right;
}

.box {
    margin: 2px;
    padding: 2px;
    min-width: 150px;
    background: #444;
}

input[type="button"] {
    background: #666;
    border-radius: 3px;
    border: 1px outset #888;
    color: #fff;
    font-size: 0.9em;
    padding: 2px;
}

input[type="button"]:active {
    border-style: inset;
}

input[type="text"], input[type="number"], input[type="color"] {
    background: #fff;
    border-radius: 3px;
    border: 1px inset #888;
    color: #000;
    font-size: 0.8em;
    padding: 2px;
}

select {
    background: #666;
    border-radius: 3px;
    border: 1px outset #888;
    color: #fff;
    font-size: 0.9em;
    padding: 2px;
    width: 100%;
    box-sizing: border-box;
}

#plugin_properties {
    padding: 5px;
    width: 280px;
    margin-top: 0;
}

#plugin_properties_table {
    font-size: 1em;
    width: 100%;
}

#plugin_properties_table td {
    width: 50%;
}

#plugin_properties_table tr:hover {
    background: #555;
}

.info {
    color: #999;
    font-size: 0.8em;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2px;
    border: 1px solid #444;
}

#active_plugins_box {
    margin-bottom: 0;
    padding: 5px;
}

#active_plugins li {
    cursor: pointer;
}

#active_plugins li:hover {
    background: #ddd;
    color: #333;
}
